* {
	margin: 0;
	padding: 0;
	text-rendering: geometricPrecision;
}

body {
	font-family: Arial;
	background-color: #bebebe;
	color: #333;
	background-image: url('images/BLUR-18.jpg');
}

h1 {
	background: white;
	font-size: 50px;
	
}

h2 {
	background: white;
}

p {
	background: white;
	font-style: italic;
}

h2 {
	color: #555;
	border-top: solid 1px #333;
}

ol {
	background: white;
	border: solid 1px #333;
	/*padding: 20px 20px 20px 40px;
	margin: 5% 0;*/

}

/*Обращение к объекту через ID*/
#colorise {
	background: #666;
	color: #4d2d06;
	font-family: verdana;
}

/*Обращение к классу объекта*/
.chapter {
	background: #222;
	color: #eee;
	font-size: 24px;
}

.backgroundimage {
	width: 200px;
	height: 200px;
	border: solid 1px black;
}

#background1 {
	background-image: url('images/BLUR-18.jpg');
}

#background2 {
	background-image: url('images/LOW-POLY-11.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}